<div id="add-question-button" class="v-item">
  <div id="add-question-logo" class="h-item"></div>
  <div id="add-question-label" class="h-item" (click)="navigator.switchTarget('add-new-quiz')">Add Quiz</div>
</div>

<table id="question-list" class="v-item">
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Start Date</th>
    <th>End Date</th>
  </tr>
  <tr *ngFor="let quiz of quizList" (click)="navigator.viewQuiz(quiz.id)">
    <td>{{quiz.id}}</td>
    <td>{{quiz.title}}</td>
    <td class="timestamp">
      <table>
        <tr><td>{{quiz.getStartDate()}}</td></tr>
        <tr><td>{{quiz.getStartTime()}}</td></tr>
      </table>
    </td>
    <td>
      <table>
        <tr><td>{{quiz.getEndDate()}}</td></tr>
        <tr><td>{{quiz.getEndTime()}}</td></tr>
      </table>
    </td>
  </tr>
  
</table>