/* @font-face {
  font-family: KFont;
  src: url('../../../assets/fonts/KoHo-SemiBold.ttf');
} */

.main-content
{
  position: absolute;
  top: 0px;
  left: 15%;
  width: 85%;
  height: 100%;

  float: left;

  background-color: #ECECEC;

  font-family: DefaultFont;
}

/* CONTENT-TEACHER-ACCOUNT */
#account-details-table
{
  position: relative;
  top: 60px;
  left: 60px;

  font-size: 4vh;
}
.account-detail-key {
  font-family: DefaultFont-SemiBold;
}
.account-detail-value {
  font-family: DefaultFont;
}

.main-content .v-item {
  margin: 0 auto;
  display: flex;
  justify-content: left;

  margin-left: 30px; 
  margin-top: 10px; 
}
.main-content .v-item:first-child {
  margin-top: 30px;
}

/*----------------------------------------------------------------------------*/

/* CONTENT-TEACHER-QUESTIONS */
#add-question-button {
  position: relative;
  width: 130px;
  background-color: #B33333;
  padding: 5px;
  border-radius: 10px;
}

#add-question-button .h-item {
  display: inline-block;
}

#add-question-button #add-question-logo {
  width: 25px;
  height: 25px;

  background-image: url('../../../assets/images/plus.svg');
  background-size: cover;
}

#add-question-button #add-question-label {
  margin-left: 5px;
  font-family: DefaultFont;
  color: white;
}

#question-list {
  position: relative;
  width: 95%;
  border-collapse: collapse;
}

#question-list th {
  background-color: #CFCFCF;
}

#question-list tr {
  position: relative;
  width: 100%;

  margin: 2px;
}

#question-list tr td, #question-list th {
  padding: 0px 15px 0px 15px;
  margin: 2px;

}

#question-list td:nth-child(3n+1) {  
  width: 30px;
}
#question-list td:nth-child(3n+2) {
  width: 700px; 
}
#question-list td:nth-child(3n+3) {
  width: 300px;
}