@font-face {
  font-family: KFont;
  src: url('../../../assets/fonts/KoHo-SemiBold.ttf');
}
#home-wrap {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: #ECECEC;
}
.main-content
{
  position: absolute;
  top: 0px;
  left: 15%;
  width: 85%;
  height: 100%;

  float: left;

  background-color: #ECECEC;

  font-family: DefaultFont;

  overflow-y: scroll;
}
@media only screen and (max-width: 800px) {
  .main-content {
    left: 20px;
    width: 100%;
  }
}

.main-content .v-item {
  margin: 0 auto;
  display: flex;
  justify-content: left;

  margin-left: 30px; 
  margin-top: 10px; 
}

.main-content .v-item:first-child {
  margin-top: 30px;
}