<app-sidebar (selectTargetEvent)=navigateService.switchTarget($event) *ngIf="account_type" [sidebar_type]="account_type"></app-sidebar>

<!-- TEACHER: QUIZZES LIST -->
<app-content-teacher-quizzes class="main-content" *ngIf="navigateService.selectedTarget == 'content-teacher-quizzes'"></app-content-teacher-quizzes>
<!-- <app-content-teacher-quizzes class="main-content"></app-content-teacher-quizzes> -->

<!-- TEACHER: QUESTIONS LIST -->
<app-content-teacher-questions class="main-content" *ngIf="navigateService.selectedTarget == 'content-teacher-questions'"></app-content-teacher-questions>
<!-- <app-content-teacher-questions class="main-content"></app-content-teacher-questions> -->

<!-- TEACHER: NEW QUESTION FORM -->
<app-add-new-question id="add-new-question" class="main-content" *ngIf="navigateService.selectedTarget == 'add-new-question'"></app-add-new-question>
<!-- <app-add-new-question id="add-new-question" class="main-content"></app-add-new-question> -->

<!-- TEACHER: ACCOUNT PAGE -->
<app-content-teacher-account class="main-content" *ngIf="navigateService.selectedTarget == 'content-teacher-account'"></app-content-teacher-account>

<!-- QUESTION -->
<app-content-question class="main-content" *ngIf="navigateService.selectedTarget == 'content-question'"></app-content-question>
<!-- <app-content-question class="main-content"></app-content-question> -->

<!-- SOLUTION -->
<app-content-solution class="main-content" *ngIf="navigateService.selectedTarget == 'content-solution'"></app-content-solution>
<!-- <app-content-solution class="main-content"></app-content-solution> -->
