@font-face {
  font-family: KFont;
  src: url('../../../assets/fonts/KoHo-SemiBold.ttf');
}


.main-content
{
  position: absolute;
  top: 0px;
  left: 15%;
  width: 85%;
  height: 100%;

  float: left;

  background-color: #ECECEC;

  font-family: DefaultFont;

  overflow-y: scroll;
}

/* CONTENT-TEACHER-ACCOUNT */
#account-details-table
{
  position: relative;
  top: 60px;
  left: 60px;

  font-size: 4vh;
}
.account-detail-key {
  font-family: DefaultFont-SemiBold;
}
.account-detail-value {
  font-family: DefaultFont;
}

/*----------------------------------------------------------------------------*/

/* CONTENT-TEACHER-QUESTIONS */

.main-content .v-item {
  margin: 0 auto;
  display: flex;
  justify-content: left;

  margin-left: 30px; 
  margin-top: 10px; 
}

.main-content .v-item:first-child {
  margin-top: 30px;
}

#add-question-button {
  position: relative;
  width: 130px;
  background-color: #B33333;
  padding: 5px;
  border-radius: 10px;
}

#add-question-button .h-item {
  display: inline-block;
}

#add-question-button #add-question-logo {
  width: 25px;
  height: 25px;

  background-image: url('../../../assets/images/baseline_add_white_18dp.png');
  background-size: cover;
  color: white;
}

#add-question-button #add-question-label {
  position: relative;
  top: 1px;
  margin-left: 5px;
  font-family: DefaultFont;
  color: white;
}

#question-list {
  position: relative;
  width: 95%;
  border-collapse: collapse;
}

#question-list th {
  background-color: #CFCFCF;
}

#question-list tr {
  position: relative;
  width: 100%;

  margin: 2px;
}

#question-list tr td, #question-list th {
  padding: 0px 15px 0px 15px;
  margin: 2px;

}

#question-list td:nth-child(3n+1) {  
  width: 30px;
}
#question-list td:nth-child(3n+2) {
  width: 700px; 
}
#question-list td:nth-child(3n+3) {
  width: 300px;
}

/* ADD-NEW-QUESTION */
.question-input {
  width: 95%;
  height: auto;
  /* border: 1px solid black; */

  padding: 5px;
}
.question-input-label {
  margin-right: 20px;
  padding: 5px;
}
.question-input-line {
  background-color: transparent;
  border: none;
  outline: none;

  border-bottom: 1px solid #C8C8C8;
  padding: 5px;
  
  font-family: DefaultFont;

  transition: 0.6s;
}

.question-input-box {
  background-color: transparent;
  outline: none;
  border: 1px solid #C8C8C8;
  border-radius: 8px;
  padding: 10px;
  
  font-family: DefaultFont;
  font-size: 2.5vh;

  transition: 0.6s;
}
.question-input-line:focus, .question-input-box:focus {
  border-color: black;
}
#add-new-question table {
  border-collapse: separate;
  border-spacing: 0 1em;
}

#add-new-question td {
  vertical-align: top;
  text-align: left;
}

#add-new-test-case {
  color: black;
  padding: 5px 5px 3px 5px;
  width: 130px;
  border-radius: 8px;
  background-color: green;
}
#add-test-label {
  position: relative;
  top: -6px;
}

#add-test-logo {
  position: relative;
  width: 25px;
  height: 25px;
  background-image: url('../../../assets/images/plus.svg');
  background-size: cover;
}

#add-new-test-case .h-item {
  display: inline-block;
}