table {
  margin-top: 30px;
  margin-left: 30px;
  border-collapse: collapse;
}

.subcontent {
  /* border: 1px solid black; */
}
.subcontent-wrap {
  padding: 10px;
}

.sub-title {
  font-family: DefaultFont-SemiBold;
}
.sub-content {
  margin-top: 5px;
}

.question-options .h-item {
  display: inline-block;
  margin: 2px;
  padding: 5px;
  background: rgb(59, 59, 59);
  color: white;

  transition: 0.4s;
}
.question-options .h-item:first-child {
  margin-left: 0px;
}

.question-options .h-item:hover {
  cursor: pointer;
  background: rgb(90, 90, 90); 
}

.question-options {
  padding: 2px;
  padding-left: 0px;
}

.io {
  background-color: rgb(207, 207, 207);
}
