<table>
  <tr class="subcontent">
      <td class="subcontent-wrap">
        <div class="question-options">
          <div *ngIf="account_type=='Teacher'" class="h-item" (click)="editQuestion()">Edit</div>
          <div *ngIf="account_type=='Teacher'" class="h-item" (click)="deleteQuestion()">Delete</div>          
        </div>
    </td>
  </tr>
  <tr class="subcontent">
    <td class="subcontent-wrap">
      <div class="sub-title"> {{question.title}} </div>
    </td>
  </tr>

  <tr class="subcontent">
    <td class="subcontent-wrap">
      <div class="sub-content"> {{question.description}} </div>
    </td>
  </tr>

  <tr class="subcontent">
    <td class="subcontent-wrap">
      <div class="sub-title"> Constraints </div>
      <div class="sub-content"> 
        <li *ngFor="let constraint of question.constraint">{{constraint}}</li>
      </div>
    </td>
  </tr>

  <tr class="subcontent">
    <td class="subcontent-wrap">
      <div class="sub-title"> Time Limit </div>
      <div class="sub-content"> 
        {{question.time_limit}}&nbsp;second(s)
      </div>
    </td>
  </tr>

  <div class="sub-content" id="io-wrap" *ngFor="let case of question.sampleCase; let in=index">
    <tr class="sub-content-row">
      <td class="subcontent-wrap io">
        <!-- SAMPLE INPUT -->
        <div class="sub-title"> Sample Input {{in+1}} </div>
        <div class="sub-content">{{case.input}}</div>
      </td>
      <td class="subcontent-wrap io" style="display:inline-block; margin-left: 5px;">
        <!-- SAMPLE OUTPUT -->
        <div class="sub-title"> Sample Output {{in+1}} </div>
        <div class="sub-content">{{case.output}}</div>
      </td>
    </tr>
    
    
  </div>
</table>