table {
  margin-top: 30px;
  margin-left: 30px;
  border-collapse: collapse;
}

.subcontent {
  /* border: 1px solid black; */
}
.subcontent-wrap {
  padding: 10px;
}

.sub-title {
  font-family: DefaultFont-SemiBold;
}
.sub-content {
  margin-top: 5px;
}

.io {
  background-color: rgb(207, 207, 207);
}