
.editor-container {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}


#optionsContainer {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 4.5%;
  background-color: rgb(59, 59, 59);
  color: white;
}

.h-item {
  position: relative;
  top: 0px;
  left: 0px;
  height: 100%;
  display: inline-block;

  margin-left: 2px;
  padding: 3px;

  transition: 0.2s;
}
.h-item input {
  position: relative;
  top: 3px;
}
.h-item:first-child {
  /* margin-left: 5px; */
  /* top: 10px; */
}
.h-item:nth-child(3) {
  margin-left: 5px;
}
.h-item:hover {
  cursor: pointer;
  background: gray;
}
#labelContainer {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 2.5%;
  background: gray;

}
.io-label {
  position: relative;
  transform: translate(0, -20%);
  display: inline-block;
  width: 48%;
  font-size: 2.1vh;
  text-align: center;
}
#ioContainer {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 23.5%;
  background-color: rgb(47, 41, 41);
}

#input {
  border-right: 0.5px solid white;
}
.io-block {
  position: relative;
  top: 0px;
  left: 0px;
  width: 49%;
  height: 100%;

  background: transparent;
  color: white;
  outline: none;
  border: none;
}
