<div ace-editor style="position: relative;top: 0px;left: 0px;width: 100%;height: 100%;"
  [(text)]="text"
  [mode]="'java'" 
  [options]="{enableBasicAutocompletion: true,enableSnippets: true,enableLiveAutocompletion: true,autoScrollEditorIntoView: true,showPrintMargin: false,fontSize: '20px'}"
  [readOnly]="false"
  [autoUpdateContent]="true" 
  [durationBeforeCallback]="1000" 
  (textChanged)="onChange($event)"
  style="min-height: 70%;overflow: auto;">
</div>
<div id="optionsContainer">
  <input class="h-item" type="checkbox" name="customInput" value="use">
  <div class="h-item">Use Custom Input</div>
  <div class="h-item">Compile</div>
  <div class="h-item">Run</div>
</div>
<div id="ioContainer"> IO </div>