<div id="editorWrap" ace-editor style="position: relative;top: 0px;left: 0px;"
  [(text)]="data"
  [mode]="language" 
  [options]="options"
  [readOnly]="false"
  [autoUpdateContent]="true" 
  [durationBeforeCallback]="500" 
  style="overflow: auto;">
</div>
<div id="optionsContainer">
  <div class="h-item">
    <input type="checkbox" [(ngModel)]="hasCustomInput">
    Use Custom Input
  </div>
  <div class="h-item" (click)="compile()">Compile</div>
  <div class="h-item" (click)="run()">Run</div>
</div>

<div id="labelContainer">
  <div class="io-label">INPUT</div>
  <div class="io-label">OUTPUT</div>  
</div>

<div id="ioContainer"> 
  <textarea id="input" class="io-block" [(ngModel)]="customInput"></textarea>
  <textarea id="output" class="io-block"></textarea>
</div>