<table>
    <tr class="subcontent">
        <td class="subcontent-wrap">
          <div class="question-options">
            <div *ngIf="account_type=='Teacher'" class="h-item" (click)="editQuiz()">Edit</div>
            <div *ngIf="account_type=='Teacher'" class="h-item" (click)="deleteQuiz()">Delete</div>          
            
            <div class="h-item" (click)="startQuiz()">Start</div>          
          </div>
      </td>
    </tr>
    <tr class="subcontent">
      <td class="subcontent-wrap">
        <div class="sub-title"> {{quiz.title}} </div>
      </td>
    </tr>
  
    <tr class="subcontent">
      <td class="subcontent-wrap">
        <div class="sub-content"> {{quiz.description}} </div>
      </td>
    </tr>
  
    <tr class="subcontent">
      <td class="subcontent-wrap">
        <div class="sub-title"> Starts At </div>
        <div class="sub-content"> 
          {{quiz.startDate}}
        </div>
      </td>
    </tr>

    <tr class="subcontent">
      <td class="subcontent-wrap">
        <div class="sub-title"> Ends At </div>
        <div class="sub-content"> 
          {{quiz.endDate}}
        </div>
      </td>
    </tr>
  
    <tr class="subcontent">
      <td class="subcontent-wrap">
        <div class="sub-content"> 
          <!-- <li *ngFor="let qid of quiz.questions">{{qid}}</li> -->
          <table id="question-list" class="v-item">
            <tr>
              <th>Questions</th>
            </tr>
            <span *ngIf="showQuestionStatus">
            <tr *ngFor="let qid of quiz.questions" (click)="viewQuestion(qid)">
              <td>{{qid}}</td>
            </tr>
            </span>
            
          </table>
        </div>
      </td>
    </tr>
  
    
  </table>